#container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#container > div{
    background-color: cadetblue;
    width: 350px;
    height: 75vh;
    text-align: center;
    font-size: 35px;
}